@import "tailwindcss";

@theme {
  --font-sans: 'Outfit', sans-serif;
  --color-brand-50: #fff1f2;
  --color-brand-100: #ffe4e6;
  --color-brand-200: #fecdd3;
  --color-brand-300: #fda4af;
  --color-brand-400: #fb7185;
  --color-brand-500: #f43f5e;
  --color-brand-600: #e11d48;
  --color-brand-700: #be123c;
  --color-brand-800: #9f1239;
  --color-brand-900: #881337;
  
  --animate-pop: pop 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  
  @keyframes pop {
    0% { transform: scale(0.95); }
    40% { transform: scale(1.02); }
    100% { transform: scale(1); }
  }
}

body {
    background-color: var(--color-brand-50);
}
